.PlayerView {
  background-color: var(--color-button-back);
  display: flex;
  align-items: center;
  width: 30%;
  color: var(--color-accent);
  font-weight: bold;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 1rem;
}

.pieceViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vmin;
  height: 5vmin;
}

.isNext {
  border: 0.5rem solid var(--color-accent);
  border-radius: 1rem;
}

.accountName {
  inline-size: 80%;
  overflow-wrap: break-word;
  font-size: 3vmin;
}
