.GridView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-light);
  padding: 0.5rem;
  border-radius: 1rem;
  width: 50rem;
  height: 50rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2px;
}

.cell {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-back);
  border-radius: 0.5rem;
  margin: 2px;
}

.cellEmpty:hover {
  background-color: antiquewhite;
}

.cellWin {
  animation-name: zoomInAndOut;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes zoomInAndOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
