.Logo {
  font-family: 'JMH SALOON';
  font-size: 8rem;
  font-weight: bold;
  color: var(--color-header-text);
  text-shadow: 8px 8px var(--color-accent);
  display: flex;
  position: relative;
}

.object {
  position: relative;
  top: 0rem;
  animation-name: upAndDown;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.object1 {
  animation-delay: 1s;
}

.object2 {
  animation-delay: 3s;
}

.object3 {
  animation-delay: 5s;
}

@keyframes upAndDown {
  0% {
    top: 0rem;
  }

  4% {
    top: 0rem;
  }

  4.1% {
    top: -4rem;
  }

  10% {
    top: -4rem;
  }

  10.1% {
    top: 0rem;
  }

  100% {
    top: 0rem;
  }
}

